.imprint {
  --imprint-background: theme('colors.gray.900');

  @apply text-gray-400 pt-0 z-30 sticky;

  background: var(--imprint-background);

  a {
    &:hover,
    &:focus {
      @apply no-underline;
  
      color: var(--color-primary);
    }
  
    &:active {
      color: var(--color-primary);
    }
  }

  .list {

    &.--words {

      i {
        @apply text-gray-600;
      }
    }
  }

  .readmore {
    $this-height: 40rem;

    @apply relative;

    max-height: 100%;
    padding-bottom: $this-height;
    transition: all var(--transition-duration);

    &.--collapsed {
      @apply overflow-hidden;

      max-height: $this-height;
      overflow: hidden;

      &:after {
        @apply opacity-100 bottom-0;
      }
    }

    &:after {
      @apply absolute opacity-0 w-full;

      content: "";
      height: $this-height;
      bottom: 0;
      background: linear-gradient(0deg, var(--imprint-background), rgba(#1a202c, 0));
      transition: all var(--transition-duration);
    }
  }
}