@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Be+Vietnam:700,800&display=swap');

* {
  outline: none;
}

html, body {
  @apply font-sans m-0 p-0;
}

body {
  @apply text-lg;

  min-height: 100.01%;
  min-height: var(--app-height);
}

h1 {
  @apply mb-0 font-display text-2xl;
}

h2, h3, h4 {
  @apply font-bold mt-20 mb-2 leading-tight tracking-wide;
}

h2 {
  @apply text-xl;

  @screen md {
    @apply w-5/6;
  }

  @screen lg {
    @apply w-3/4;
  }
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-lg;
}

p {
  @apply mb-3 leading-normal font-normal text-justify ;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;   
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

a {
  @apply no-underline cursor-pointer;

  text-decoration-color: var(--color-primary-lighter);
  transition: all var(--transition-duration);

  &:hover,
  &:focus {
    @apply no-underline;

    color: var(--color-primary);
  }

  &:active {
    color: var(--color-primary-darker);
  }

  &[href^=tel] {
    @apply whitespace-no-wrap;
  }
}

blockquote {
  @apply my-12 w-4/5 text-xl italic;

  padding-left: 20%;

  p {
    @apply text-left font-serif;
  }

  small {
    @apply text-sm;
  }
} 

section {
  @apply flex flex-col py-24 mt-0 bg-white;

  min-height: var(--app-height);
}