
:root {
  // #UTILITIES
  // ----------------------------------------------------------------
  --app-height:             100vh;

  // ----------------------------------------------------------------
  // #COLORS
  --color-primary:             theme('colors.primary.200');
  --color-primary-lighter:     theme('colors.primary.100');
  --color-primary-darker:      theme('colors.primary.900');
  
  --color-secondary:           theme('colors.secondary.200');
  --color-secondary-lighter:   theme('colors.secondary.100');
  --color-secondary-darker:    theme('colors.secondary.700');

  // ----------------------------------------------------------------
  // #ANIMATIONS & #TRANSITIONS
  --transition-duration:         300ms;
}
