.nls-scroll-cards {

  &__item {
    @apply shadow-top-lg relative;

    &__content {
      @apply py-20 relative;
    }
    
    a {
      &:after {
        transition: transform var(--transition-duration) var(--transition-timing-function);
      }
    }
  }

  &__indicator {

    &__title {
      @apply block;

      color: var(--color-primary-light);      
      transition: flex-shrink var(--transition-duration) var(--transition-timing-function);

      &:after {
        background: var(--color-primary-light);
        top: calc(calc(theme('fontSize.sm') * 0.5) - calc(var(--nls-scroll-cards-icon-size) * 0.5));
      }

      &--active {
        color: var(--color-primary);

        &:after {
          background: var(--color-primary);
        }
      }

      &:first-child {
        @apply mt-20;
      }
    }

    &__subtitle {
      $this-extra-delay-factor: 600ms;

      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
      transition-property: margin, opacity;

      @for $i from 1 through 20 {
        &:nth-child(0n + #{$i}) {
          $this-extra-delay: (1 - 1 / $i) * $this-extra-delay-factor;

          transition-duration: calc(var(--transition-duration) + #{$this-extra-delay});
        }
      }
    }

    .container {
      border-color: var(--color-primary-lighter);
      transform: translateX(calc(-1 * theme('spacing.5')));
    }
  }
}
