.nls-scroll-cards {

  &__item {
    @apply shadow-top-lg relative;

    &__content {
      @apply py-20 relative;
    }

    &__title {

    }
  }

  &__indicator {

    &__title {
      @apply block;

      color:  var(--color-primary-light);      
      transition: all var(--transition-duration) var(--transition-timing-function);

      &:after {
        background: var(--color-primary-light);
        top: calc(calc(theme('fontSize.sm') * 0.5) - calc(var(--nls-scroll-cards-icon-size) * 0.5));
      }

      &--active {
        color:  var(--color-primary);

        &:after {
          background: var(--color-primary);
        }
      }

      &:first-child {
        @apply mt-20;
      }
    }

    .container {
      border-color: var(--color-primary-lighter);
    }
  }
}
