:root {
  --modal-transition-duration:  660ms;
  --modal-overlay-color:        255, 255, 255;
  --modal-overlay-alpha:        0.9;        
  --modal-timing-function:      cubic-bezier(.86 ,0, .32, 1);
  --modal-body-shift:           -10vw;
}

.modal {

  &__inner {
    @apply fixed inset-y-0 bg-black text-white overflow-y-auto z-20;

    left: 100vw;
    right: -100vw;
    transition-duration: var(--modal-transition-duration);
    transition-timing-function: var(--modal-timing-function);
    transition-property: left, right;
    width: 100vw;

    @screen lg {
      width: 50vw;
    }
  
    &--after-open {
      @apply block;
  
      left: 0;
      right: 0;
  
      @screen lg {
        left: 50vw;
      }
    }

    h1 {
      @apply text-2xl font-hairline mt-8;
    }
  
    h2 {
      @apply text-xl mt-12;
    }
  
    p {
      @apply leading-relaxed opacity-90;
  
      @screen lg {
        @apply w-2/3;
      }
    }
  
    .container {
      @apply py-20;
    }
  }

  &__backdrop {
    @apply block fixed inset-0 z-0;

    background: rgba(var(--modal-overlay-color), 0);
    transition: all var(--modal-transition-duration);
  
    &--after-open {
      @apply z-10;

      background: rgba(var(--modal-overlay-color), var(--modal-overlay-alpha));
    }
  }

  &__body--open {
    @apply overflow-hidden;

    main {
      transform: translate3d(var(--modal-body-shift), 0, 0);
    }
  }

  button {
    @apply absolute top-0 right-0 p-10 outline-none;

    &:hover {
      @apply opacity-50;
    }
  }
}

main {
  transition-duration: var(--modal-transition-duration);
  transition-timing-function: var(--modal-timing-function);
  transform: translate3d(0, 0, 0);
}
