footer {
  @apply fixed bottom-0 left-0 right-0 flex justify-between p-5 text-sm bg-white z-30;

  ul {
    @apply flex flex-row;

    li {
      @apply pl-2;
    }
  }

  .profiles {
    @apply flex;
  }

  .copyright {
    @apply text-right hidden;

    @screen lg {
      @apply inline-block;
    }
  }
}
